body {
    font-family: 'Arvo', serif;
    margin:0px;
    padding:0px;
}

#main_header {
    background-color:black;
    color:white;
}

#main_title {
    text-align: center;
    margin:0;
    padding:10px;
}

#menu {
    text-align: center;
}

#menu ul
{
    list-style:none;
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom:20px;
}

#menu li
{
    display: inline;
    margin-right:20px;
    margin-bottom:10px;
    padding:5px;
}
#menu a
{
    display: inline-block;
    color: white;
}

main {
    margin-left:10%;
    margin-right:10%;
    text-align: justify;
}

main h2 {
    text-align: center;
}

#items {
    border-top: 1px dotted black;
    margin-top: 2em;
}

article h3 {
    margin-bottom:0.2em;
}

main .label_info {
    font-style: italic; 
    font-size:0.8em;
    margin:0;
    padding:0;
}
