<!DOCTYPE html>
<html>
<head>
  <title>Topillo Records</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
  <meta charset="utf-8"> 
  <meta content="MigueSR" name="author">
  <meta content="Topillo Records is an independent record label from Madrid, Spain." name="description">
  <meta content="topillo,records,label,doom,metal,misty,grey" name="keywords">
</head>
<body>
  <header class="main_header">
    <h1 class="main_title">TOPILLO RECORDS</h1>
    <nav class="main_menu">
      <ul>
        <li><a class="insite-link" href="releases.html">Releases</a></li>
        <li><a class="insite-link" target="_blank" href="http://topillo.tictail.com">Online shop</a></li>
        <li><a class="insite-link" href="faq.html">FAQ</a></li>
      </ul>
    </nav>
  </header>
