@@include('includes/header.html')
<main>
  <section>
    <h2>FAQ (Frequently Asked Questions)</h2>
    <ul>
      <li>
        <h3>Who are you?</h3>
        <p>We're Topillo Records, a small label and distro from Spain.</p>
        <p class="info_text">Send us a mail to <a href="mailto:blackhandzine@gmail.com">blackhandzine@gmail.com</a> for further information.</p>
      </li>
      <li>
        <h3>What are the shipping costs?</h3>
        <p>It depends. Up to 500g (i.e. 4 or less CDs) is something like the following table. For bigger quantities just ask.</p>
        <table>
          <tr>
            <th class="no_border"></th>
            <th>Spain</th>
            <th>Europe</th>
            <th>Rest of the world</th>
          </tr>
          <tr>
            <th>Unregistered</th>
            <td>2 €</td>
            <td>6 €</td>
            <td>9 €</td>
          </tr>
          <tr>
            <th>Registered</th>
            <td>4 €</td>
            <td>8 €</td>
            <td>12 €</td>
          </tr>
        </table>
        <p>We can also send 1 CD unregistered and without case for 1 € / 2 € / 3 € (Spain, Europe, Rest of World).</p>
      </li>
      <li>
        <h3>I run a label/distro, can I get some of your CDs?</h3>
        <p>Sure, mate! We are interested in trading and we also have wholesale prices. Send a mail, please!</p>
      </li>
      <li>
        <h3>Who made the website?</h3>
        <p>The site and the main logo are made by <a href="http://www.github.com/MiguelSR" target="_blank">MiguelSR</a>.<br>
        The lovely rodent on the front page was drawn by the artist <a href="https://www.facebook.com/zoraidacordobaart/" target="_blank">Zoraida Córdoba</a>.</p>
      </li>
      <li>
        <h3>Sure? The logo looks familiar... It is a plagiarism?</h3>
        <p>Yeah, it's heavily inspired by <em>The Heaviest Label On Earth</em>. We prefer to call it homage, though.</p>
      </li>
    </ul>
  </section>
</main>
</body>
</html>
