@@include('includes/header.html')
<main>
  <section>
    <h2>FAQ</h2>
    <ul>
      <li>
        <h3>Who are you?</h3>
        <p>We're Topillo Records, a small label and distro from Spain.</p>
        <p class="info_text">Send us a mail to <a href="mailto:blackhandzine@gmail.com">blackhandzine@gmail.com</a> for further information.</p>
      </li>
      <li>
        <h3>What are the shipping costs?</h3>
        <p>It depends... up to 500 g is something like the following table. For bigger quantities just ask.</p>
        <table>
          <tr>
            <th class="no_border"></th>
            <th>Spain</th>
            <th>Europe</th>
            <th>Rest of the world</th>
          </tr>
          <tr>
            <th>Unregistered</td>
            <td>2</td>
            <td>6</td>
            <td>9</td>
          </tr>
          <tr>
            <th>Registered</td>
            <td>4</td>
            <td>8</td>
            <td>12</td>
          </tr>
        </table>
      </li>
    </ul>
  </section>
</main>
</body>
</html>
