@@include('includes/header.html')
<main>
  <section style="text-align:center">
    <h2>Mailorder</h2>
    Visit our <strong><a href="http://topillo.tictail.com" target="_blank">Online Shop</a></strong> to order our releases and lots of CDs and vinyl records in distribution!
    You can also check our <a href="https://www.discogs.com/seller/MiguelSR/profile">Discogs profile</a> and get them there. Or send us a mail to <a href="mailto:blackhandzine@gmail.com">blackhandzine@gmail.com</a> and ask for our distro list.</p>
  </section>
</main>
@@include('includes/footer.html')
