@@include('includes/header.html')
<main>
  <section>
    <h2>Releases</h2>
    <p class="big_text_releases">These are our releases so far. You can listen to all of them with the embedded Bandcamp player. Enjoy!</p>
    <article>
      <h3>Lucifer's Fall - Fuck You We're Lucifer's Fall (MCD)</h3>
      <p class="small cursive no_margin">Release date: September 2016</p>
      <p>New MCD of these australian badass doomers. We're extremely pleased of releasing this stuff, as they are one of the best doom bands around. Motherfucking doom metal, powerful and heavy, only for freaks of doom and riff worshippers</p>
      <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=121948997/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://topillo.bandcamp.com/album/fuck-you-were-lucifers-fall">Fuck You We&#39;re Lucifer&#39;s Fall by Lucifer&#39;s Fall</a></iframe>
    </article>
    <article>
      <h3>The Human Condition - Pathways (CD)</h3>
      <p class="small cursive no_margin">Release date: June 2016</p>
      <p>Debut album of this english band. 50 minutes of epic, technical and sorrowful doom metal. With members and ex-members of Unsilence, The River and Misericorde.</p>
      <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1675209249/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://topillo.bandcamp.com/album/pathways">Pathways by The Human Condition</a></iframe>
    </article>
    <article>
      <h3>Misty Grey - Grey Mist (CD)</h3>
      <p class="small cursive no_margin">Release date: April 2016</p>
      <p>After two years of doomed events, we can finally enjoy this awesome slab of spanish doom metal. Previously edited in tape by Shadow Kingdom Records and now in CD by Out of the Past, Vertebrae and us. For fans of Pentagram, Witchfinder General or Reino Ermitaño.</p>
      <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=1047107295/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://topillo.bandcamp.com/album/grey-mist">Grey Mist by Misty Grey</a></iframe>
    </article>
  </section>
</main>
@@include('includes/footer.html')
