@@include('includes/header.html')
<main>
  <section>
    <h2>Releases</h2>
    <article>
      <h3>The Human Condition - Pathways (CD)</h3>
      <p>Debut album of this english band. 50 minutes of epic, technical and sorrowful doom metal. With members and ex-members of Unsilence, The River and Misericorde. Enjoy this album and his previous EP on <a href="http://thehumanconditiondoom.bandcamp.com" target="_blank">their Bandcamp</a>.</p>
    </article>
    <article>
      <h3>Misty Grey - Grey Mist (CD)</h3>
      <p>After two years of doomed events, we can finally enjoy this awesome slab of spanish doom metal. Previously edited in tape by Shadow Kingdom Records and now in CD by Out of the Past, Vertebrae and us. For fans of Pentagram, Witchfinder General or Reino Ermitaño. Enjoy it on <a href="https://mistygreydoom.bandcamp.com/album/grey-mist" target="_blank">their Bandcamp</a>.</p>
    </article>
  </section>
</main>
</body>
</html>
